.recipe-history {
  background-color: var(--neutral-color);
  font-family: var(--font-family);
  padding: 20px;
  border-radius: var(--border-radius);
  max-width: 600px;
  margin: auto;
  box-shadow: var(--shadow);
  position: relative;
  color: var(--text-color);
}

.recipe-history h1 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  text-align: center;
}

.recipe-history ul {
  list-style: none;
  padding: 0;
}

.recipe-history li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: var(--border-radius);
}

.recipe-history li h3 {
  margin: 0;
  font-size: 1.5rem;
  color: var(--text-color);
}

.recipe-history li p {
  margin: 5px 0;
  font-size: 1rem;
  font-weight: 600;
}

.ingredient-list {
  list-style: none;
  margin: 0;
  padding: 0 0 0 10px; 
  color: var(--text-color);
}

.ingredient-item {
  margin: 5px 0; 
  font-size: 1rem;
  display: flex; 
  align-items: center;
}

.recipe-header {
  display: flex;
  align-items: center; 
  gap: 10px; 
}

.recipe-icon {
  color: var(--primary-color); 
  font-size: 1.5rem;
}


.action-buttons {
  display: flex;
  gap: 10px;
}

.recipe-history button {
  background-color: var(--primary-color);
  border: none;
  border-radius: var(--border-radius);
  color: white;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: var(--shadow);
}

.recipe-history button:hover {
  background-color: #2980b9;
  transform: scale(1.05);
}

.recipe-history .action-buttons button {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--primary-color);
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.recipe-history .action-buttons button:hover {
  color: #2980b9;
}

/* Responsividad */

/* Tablet */
@media (max-width: 768px) {
  .recipe-history {
    max-width: 90%;
    padding: 15px;
  }

  .recipe-history h1 {
    font-size: 1.6rem;
  }

  .recipe-history button {
    font-size: 0.9rem;
    padding: 8px 15px;
  }
}

/* Celulares */
@media (max-width: 576px) {
  .recipe-history {
    max-width: 95%;
    padding: 10px;
  }

  .recipe-history h1 {
    font-size: 1.4rem;
  }

  .recipe-history li {
    flex-direction: column;
    align-items: flex-start;
  }

  .recipe-history button {
    font-size: 0.8rem;
    padding: 8px 10px;
  }
}
